<div class="pagehead">
  <h3>About Us</h3>
</div>
<div class="pagecontent" style="border: 1px solid; margin: 10px; border-radius: 20px;">
  <div class="row" style="margin-top:5px;">
    <div class="col-sm text-center">
      <img src="../../assets/images/pastor.png" width="150px" height="auto"  style="border-radius: 20px"><br>
      <h5 style="padding: 5px">Beneri Grand Father</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
    <p>
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
      Hello this is benerji grand father i started ministery in 1996 and continued with our god jesus blessings
    </p>
    </div>

  </div>
</div>
<br><br>