<app-header></app-header>
<router-outlet></router-outlet>
<div class="footer">
    <div class="row footertext">
        <div class="col-sm text-left">
            <P>Designed and Developed By<br> <b>Lalith Kumar</b></P>
        </div>
        <div class="col-sm text-right">
            <p>YPPM Ankamagunta :: 2018<br>
                Rimmanapudi, Pamaru Mandlam, Krishna Dt<br>
                <!-- ANdhra Pradesh, 521157<br>
                9908041366, 9849326481<br>
                ypm.ankamagunta@gmail.com -->
            </p>
        </div>
    </div>
</div>
  