<div class="pagehead">
  <h3>Contact Us</h3>
</div>
<div class="pagecontent" style="margin: 15px; border:1px solid; border-radius: 20px; padding: 20px;">
  <div class="text-center">
    <img src="../../assets/images/300x250-ContactUs.png">
  
  <br><br>
  <div class="row">
    <div class="col-sm">
    <h2>Yesu Prabhu Prardhana Mandiram</h2>
    <h4>Ankamagunta , 520154</h4>
    <h4>Pamaru , Near Gudivada</h4>
    <h4>Andhra Pradesh</h4>
    <h4>9556254789</h4>
    </div>
  </div>
  </div>
</div>