<div class="pagehead">
  <h3>Contact Us</h3>
</div>
<div class="pagecontent" style="margin: 15px; border:1px solid; border-radius: 20px; padding: 20px;">
  <div class="text-center">
    <div class="contactus">
       <img src="../../assets/images/300x250-ContactUs.png">      
      <br><br>
      <div class="row">
        <div class="col-sm">
        <h2>Yesu Prabhu Prardhana Mandiram</h2>
        <h4>Ankamagunta, Rimmanapudi</h4>
        <h4>Pamaru Mandalam, Krishna Dt</h4>
        <h4>Andhra Pradesh, 521157</h4>
        <h4>9908041366, 9849326481</h4>
        <h4>ypm.ankamagunta@gmail.com</h4>
        </div>
      </div>
  </div>
  </div>
</div>