<div class="sliderimg">    
  <ui-carousel [infinite]="true" [fade]="false" [speed]="5000" onmouseover="this.stop();" onmouseout="this.start();" height="100%" autoplay="true">
   
      <ui-carousel-item> 
          <img src="../assets/images/slider/1.jpg" alt="" draggable="false" style="width: 100%; height: auto;">
      </ui-carousel-item>
      <ui-carousel-item>
        <img src="../assets/images/slider/2.jpg" alt="" draggable="false" style="width: 100%; height: auto;">
      </ui-carousel-item>
      <ui-carousel-item>
        <img src="../assets/images/slider/3.jpg" alt="" draggable="false" style="width: 100%; height: auto;">
      </ui-carousel-item>
      <ui-carousel-item>
        <img src="../assets/images/slider/4.jpg" alt="" draggable="false" style="width: 100%; height: auto;">
      </ui-carousel-item>
      <ui-carousel-item>
          <img src="../assets/images/slider/5.jpg" alt="" draggable="false" style="width: 100%; height: auto;">
      </ui-carousel-item>
      <ui-carousel-item>
        <img src="../assets/images/slider/6.jpg" alt="" draggable="false" style="width: 100%; height: auto;">
      </ui-carousel-item>
  </ui-carousel>
</div> 
